body {
    background-image: url("station.jpg");
    background-size: cover;
    font-family:BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',  sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: wheat
}
.bodydiv {
    width: 90%;
    background: black;
    margin: auto;   
    border: 5px wheat solid;
    border-radius: 20px
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: wheat
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
    border: 2px solid green;
    border-radius: 20px
    
}

#save-btn {
    background: darkgreen;
    border: 2px solid red;
    border-radius: 20px
}
#save-el{
    color: wheat
}

